body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-left: 6px;
}

main {
    width: fit-content;
}

.input-container {
    margin-top: 12px;
    display: flex;
}

.input-number, .input-operator {
    margin: 0px 6px;
}

.output-container {
    margin: 6px;
    border: 1px solid rgb(118,118,118);
    padding-left: 2px;
}


